@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    box-shadow: 0 6px 7px -1px rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
    height: 113px;
    width: 100%;
    background: #24204A;
    display: flex;
    justify-content: center;
    align-items: center
}
header ul{
    list-style-type: none;
    display: flex;
    gap: 63px;
}
header h4{
    color: #E5E5E5;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.6;
    margin-right: 580px;
}
header ul li a{
    text-decoration: none;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.6;
}
main{
    background: #24204A;
    height: 764px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 208px;
}

.first-par{
    color: #8E88C1;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
    width: 145px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #4B4864;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 85px 0 32px 0;
}
main h2{
    margin-bottom: 32px;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
}
.second-par{
    margin-bottom: 32px;
    width: 570px;
    height: 85px;
    color: #8E88C1;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
}
main button{
    margin-bottom: 32px;
    width: 200px;
    height: 56px;
    border-radius: 8px;
    background: #3F50E7;
    box-shadow: 0 6px 20px 0 rgba(0, 255, 224, 0.20);
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
main img{

    width: 375px;
    height: 411px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #827EAC;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
}
.second-page{
    height: 764px;
    background: #071341;
}
.little-cards{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 73px;
}
img{
    width: 32.082px;
    height: 32px;
}
.image-little{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56.144px;
    height: 56px;
    border-radius: 8px;
    background: #FF6853;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-top: 50px;
}
.icons h4{
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.icons p{
    color: #8E88C1;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.8px;
}
.under-icons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.second-page>.under-icons>h2{
    margin: 85px 0 15px 0;
    display: flex;
    justify-content: center;
    width: 1074px;
    color: #FFF;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 116.667% */
}
.second-page>.under-icons>p{
    color:  #8E88C1;
    text-align: center;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
}
.big-cards{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 58px;
}
.card{
    width: 209px;
    height: 206px;
    border-radius: 8px;
    border: 2px solid  #8E88C1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card p{
    margin-top: 26px;
    color: #8E88C1;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.8px;
}
.third-page iframe{
    width: 100%;
    height: 664px
}
footer{
    background: #071341;
    height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%; /* 24px */
}